.skills {
    margin: 100px 0;
    padding-top: 25px;
}

.skills-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    list-style: none;
}

.skills-ele {
    color: var(--text-light);
    font-size: 3rem;
    text-align: center;
    transition: color 0.25s ease-out;
}

.skill-name {
    margin: auto;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0);
}

.skills-ele:hover,
.skills-ele:hover>.skill-name {
    color: var(--accent-light-hover);
}

@media only screen and (max-width: 1000px) {
    .skills {
        margin: 50px 0;
    }
    .skills-list {
        display: block;
        flex-direction: row;
        row-gap: 15px;
    }
    .skills-ele {
        display: inline-block;
        font-size: 2rem;
    }
}